{% extends 'base.html' %}{% load staticfiles %}
{% block App %}

    <div id="panorama"></div>

    <div id="addLink">
        <p>Linki Ekle</p>
        <div class="answer">
            <span class="no">No</span>
            <span class="yes">Yes</span>
        </div>
    </div>

{% endblock %}
{% block Scripts %}
    <script type="text/javascript" src="{% static 'alertify/src/alertify.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/addLink.js' %}"></script>
{% endblock %}