$Poppins: 'Poppins', sans-serif;

html, body {
  height: auto;
  min-height: 100vh;
  font-family: $Poppins;
}

#panorama {
  height: 100vh;
}

#addLink {
  position: fixed;
  display: none;
  z-index: 999;
  top: 2px;
  left: 2px;
  width: 140px;
  height: auto;
  padding-top: 10px;
  background-color: white;
  border-radius: 2px;
  color: black;
  text-align: center;
  font-family: $Poppins;
  font-size: 14px;
  font-weight: 600;

  .answer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    padding-top: 10px;
  }

  span {
    color: white;
    flex: 1;
    padding: 10px 0;
    cursor: pointer;
    -webkit-transition: .4s ease;
    -moz-transition: .4s ease;
    -ms-transition: .4s ease;
    -o-transition: .4s ease;
    transition: .4s ease;

    &:first-child {
      background-color: red;
    }

    &:last-child {
      background-color: blue;
    }

    &:hover {
      opacity: .6;
    }
  }
}

.form-preloader, .form-success, .form-error {
  display: none;
}


.upload-images {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px 0;

  input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }

  p {
    text-align: center;
    margin: auto;
    font-size: 24px;
    color: white;
    font-family: $Poppins;
  }
}

#elements {
  margin-bottom: 20px;
}

#screens-add {
  padding-top: 40px;
}

.preloader, .success-p, .alert-p {
  display: none;
}

.alertify {
  background-color: wheat;
}

#item-list {
  height: 200px;
  overflow: auto;
  margin: 30px 0;

  li {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    margin: auto auto 20px;
    overflow: hidden;
    cursor: pointer;

    &:hover, &.active {
      opacity: 0.4;
    }
  }

  div {
    width: 60px;
    height: 40px;
    margin-left: 10px;
    background: transparent no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
    border-radius: 5px;
  }
}

#hotSpot-add {
  display: none;
  position: fixed;
  width: 320px;
  padding: 10px;
  border-radius: 5px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: white;
}

.toast {
  position: absolute !important;
  top: 10px;
  right: 10px;
}

.pnlm-sprite {
  &.pnlm-info {
    pointer-events: none;

    span {
      visibility: visible;
      font-family: $Poppins;
      font-size: 12px;
    }
  }
}