html, body {
  height: auto;
  min-height: 100vh;
}

$Poppins: 'Poppins', sans-serif;

#panorama {
  height: 100vh;
}

#addLink {
  position: fixed;
  display: none;
  z-index: 999;
  top: 2px;
  left: 2px;
  width: 140px;
  height: auto;
  padding-top: 10px;
  background-color: white;
  border-radius: 2px;
  color: black;
  text-align: center;
  font-family: $Poppins;
  font-size: 14px;
  font-weight: 600;

  .answer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    padding-top: 10px;
  }

  span {
    color: white;
    flex: 1;
    padding: 10px 0;
    cursor: pointer;
    -webkit-transition: .4s ease;
    -moz-transition: .4s ease;
    -ms-transition: .4s ease;
    -o-transition: .4s ease;
    transition: .4s ease;

    &:first-child {
      background-color: red;
    }

    &:last-child {
      background-color: blue;
    }

    &:hover {
      opacity: .6;
    }
  }
}

.alertify-dialog {
  background-color: rgba(255, 255, 255, .85);
  border-radius: 5px;
  text-align: center;
  font-family: $Poppins;
  width: 300px;
  margin: auto;

  p {
    font-weight: 600;
    font-size: 16px;
  }

  .alertify-text-wrapper {
    padding-top: 10px;
  }

  input {
    border: none;
    padding: 4px;
    border-radius: 5px;
    outline: none;
  }

  #alertify-resetFocus {
    display: none;
  }

  .alertify-buttons {
    display: flex;
    justify-content: space-between;

    * {
      flex: 1;
      border: none;
      background-color: rgba(255, 255, 255, .85);
      font-size: 14px;
      color: black;
      text-decoration: none;
      line-height: 1.2;
      padding: 10px 0;
      -webkit-transition: .4s ease;
      -moz-transition: .4s ease;
      -ms-transition: .4s ease;
      -o-transition: .4s ease;
      transition: .4s ease;

      &:hover {
        opacity: .5;
      }
    }
  }
}