{% extends 'base.html' %}{% load staticfiles %}
{% block App %}
    <div id="panorama"></div>
    {% csrf_token %}
{% endblock %}
{% block Scripts %}
    <script type="text/javascript" src="{% static 'alertify/src/alertify.js' %}"></script>
    <script type="text/javascript">
        let globalData = null;

        $.get("/api/screen/", function (data, status) {
            globalData = data;
        });

        pannellum.viewer('panorama', {
            "default": {
                "autoLoad": true,
                "firstScene": "{{ screens.0.name }}",
                "sceneFadeDuration": 1000
            },
            "scenes": {
                {% for screen in screens %}
                    "{{ screen.name }}": {
                        "title": "{{ screen.title }}",
                        "hfov": {{ screen.hfov|floatformat }},
                        "pitch": {{ screen.pitch|floatformat }},
                        "yaw": {{ screen.yaw|floatformat }},
                        "type": "equirectangular",
                        "panorama": "{{ screen.image.url }}",
                        "hotSpots": [
                            {% for hotspot in screen.hotspots.all %}
                                {
                                    "pitch": {{ hotspot.pitch|floatformat }},
                                    "yaw": {{ hotspot.yaw|floatformat }},
                                    "type": "{{ hotspot.type }}",
                                    "text": "{{ hotspot.text }}",
                                    "sceneId": "{{ hotspot.screenId }}"
                                },
                            {% endfor %}
                        ]
                    },
                {% endfor %}
            }
        });
    </script>
{% endblock %}