{% extends 'base.html' %}{% load staticfiles %}
{% block App %}
    <div class="container">
        <div class="upload-images">
            <input type="file" multiple>
            <p>Resimleri Seç</p>
        </div>
        <form id="screens-add" enctype="multipart/form-data" method="post">
            {% csrf_token %}
            <select name="advert">
                {% for advert in adverts %}
                    <option value="{{ advert.pk }}">{{ advert.title }}</option>
                {% endfor %}

            </select>
            <div id="elements"></div>
            <button type="submit" class="btn btn-primary w-50 m-auto d-block">Yükle</button>
        </form>
    </div>
{% endblock %}
{% block Scripts %}
    <script type="text/javascript">
        function _FileList(items) {
            items = [].concat.apply([], [items]);
            if (items.length
                && !items.every(function (file) {
                    return file instanceof File
                })) {
                throw new TypeError("expected argument to FileList is File or array of File objects");
            }
            const dt = new ClipboardEvent("").clipboardData || new DataTransfer();
            for (let i = 0; i < items.length; i++) {
                dt.items.add(items[i])
            }
            return dt.files;
        }

        document.querySelector("input[type=file]").onchange = function (e) {
            for (let i = 0; i < e.target.files.length; i++) {
                const input = document.createElement("input");
                const inputName = document.createElement("input");
                const inputScreenId = document.createElement("input");
                const wrapper = document.createElement("div");
                wrapper.className = 'form-group';
                inputName.className = 'form-control';
                input.type = "file";
                input.name = "image";
                inputName.type = "text";
                inputName.name = "title";
                inputScreenId.type = "hidden";
                inputScreenId.name = "name";
                inputName.placeholder = "Resim Başlığı";
                input.files = new _FileList(e.target.files[i]);
                wrapper.appendChild(input);
                wrapper.appendChild(inputName);
                wrapper.appendChild(inputScreenId);
                document.getElementById('elements').appendChild(wrapper);
            }
        };

        function convertToSlug(Text) {
            return Text.toLowerCase().replace(/[^\w ]+/g, '').replace(/ +/g, '-');
        }

        $(document).on('keyup', 'input[name=title]', function () {
            const slugify = convertToSlug($(this).val());
            $(this).parent('.form-group').find('input[name="name"]').val(slugify);
        });

        $('#screens-add').on('submit', function (e) {
            e.preventDefault();
            $('#elements .form-group').each(function (e, i) {
                const formData = new FormData();
                formData.append('advert', $('select[name=advert]').val());
                formData.append('image', $('.form-group:nth-child(' + (e + 1) + ') input[name=image]')[0].files[0]);
                formData.append('title', $('.form-group:nth-child(' + (e + 1) + ') input[name=title]').val());
                formData.append('name', $('.form-group:nth-child(' + (e + 1) + ') input[name=name]').val());
                formData.append('csrfmiddlewaretoken', $('input[name=csrfmiddlewaretoken]').val());
                $.ajax({
                    method: 'POST',
                    url: '/api/screen/',
                    data: formData,
                    enctype: 'multipart/form-data',
                    contentType: false,
                    cache: false,
                    processData: false,
                    success: function (res) {
                        console.log(res)
                    },
                    error: function (err) {
                        console.log(err)
                    }
                })
            })
        });
    </script>
{% endblock %}