{% extends 'base.html' %}{% load staticfiles %}
{% block App %}
    <div class="container">
        <form id="screens-add" enctype="multipart/form-data" method="post">
            {% csrf_token %}
            <select name="advert" class="form-control">
                {% for advert in adverts %}
                    <option value="{{ advert.pk }}">{{ advert.title }}</option>
                {% endfor %}
            </select>
            <div class="upload-images">
                <input type="file" multiple>
                <p>Resimleri Seç</p>
            </div>
            <div id="elements"></div>
            <div class="preloader mb-3">
                <div class="spinner-border m-auto d-block" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
            <p class="alert alert-success success-p">Tamamlandı.</p>
            <p class="alert alert-danger alert-p">Bir Problem Var.</p>
        </form>
    </div>
{% endblock %}
{% block Scripts %}
    <script type="text/javascript">
        function _FileList(items) {
            items = [].concat.apply([], [items]);
            if (items.length
                && !items.every(function (file) {
                    return file instanceof File
                })) {
                throw new TypeError("expected argument to FileList is File or array of File objects");
            }
            const dt = new ClipboardEvent("").clipboardData || new DataTransfer();
            for (let i = 0; i < items.length; i++) {
                dt.items.add(items[i])
            }
            return dt.files;
        }

        document.querySelector("input[type=file]").onchange = function (e) {
            const button = document.createElement("button");
            button.className = 'btn btn-primary w-50 ml-auto mr-auto mt-4 d-block';
            button.type = "submit";
            for (let i = 0; i < e.target.files.length; i++) {
                const input = document.createElement("input");
                const inputName = document.createElement("input");
                const inputScreenId = document.createElement("input");
                const wrapper = document.createElement("div");
                wrapper.className = 'form-group';
                inputName.className = 'form-control';
                button.textContent = "Yükle";
                input.type = "file";
                input.name = "image";
                inputName.type = "text";
                inputName.name = "title";
                inputScreenId.type = "hidden";
                inputScreenId.name = "name";
                inputName.placeholder = "Resim Başlığı";
                input.files = new _FileList(e.target.files[i]);
                wrapper.appendChild(input);
                wrapper.appendChild(inputName);
                wrapper.appendChild(inputScreenId);
                wrapper.appendChild(button);
                document.getElementById('elements').appendChild(wrapper);
            }
        };

        function convertToSlug(Text) {
            return Text.toLowerCase().replace(/[^\w ]+/g, '').replace(/ +/g, '-');
        }

        $(document).on('keyup', 'input[name=title]', function () {
            const slugify = convertToSlug($(this).val());
            $(this).parent('.form-group').find('input[name="name"]').val(slugify);
        });

        $('#screens-add').on('submit', function (e) {
            e.preventDefault();
            $('.preloader').show();
            $('#elements .form-group').each(function (e, i) {
                const formData = new FormData();
                formData.append('advert', $('select[name=advert]').val());
                formData.append('image', $('.form-group:nth-child(' + (e + 1) + ') input[name=image]')[0].files[0]);
                formData.append('title', $('.form-group:nth-child(' + (e + 1) + ') input[name=title]').val());
                formData.append('name', $('.form-group:nth-child(' + (e + 1) + ') input[name=name]').val());
                formData.append('csrfmiddlewaretoken', $('input[name=csrfmiddlewaretoken]').val());
                $.ajax({
                    method: 'POST',
                    url: '/api/screen/',
                    data: formData,
                    enctype: 'multipart/form-data',
                    contentType: false,
                    cache: false,
                    processData: false,
                    success: function (res) {
                        console.log(res);
                        $('.preloader').hide();
                        $('.success-p').show();
                    },
                    error: function (err) {
                        console.log(err);
                        $('.alert-p').show();
                    }
                })
            })
        });
    </script>
{% endblock %}