{% extends 'base.html' %}{% load staticfiles %}
{% block App %}
    <div id="panorama"></div>
    <form id="hotSpot-add">
        {% csrf_token %}
        <p class="h3 text-center pb-2">HotSpot Ekle</p>
        <div class="form-group">
            <label class="pb-1"> Pitch </label>
            <input class="form-control" type="text" name="pitch" placeholder="pitch" required/>
        </div>
        <div class="form-group">
            <label class="pb-1"> Yaw </label>
            <input class="form-control" type="text" name="yaw" placeholder="yaw" required/>
        </div>
        <div class="form-group">
            <label class="pb-1"> Type </label>
            <select name="type" class="form-control" required>
                <option value="info">Info</option>
                <option value="scene">Scene</option>
            </select>
        </div>
        <div class="form-group">
            <label class="pb-1"> Text </label>
            <input class="form-control" type="text" name="text" placeholder="text" required/>
        </div>
        <div class="form-group">
            <label class="pb-1"> Go to Screen </label>
            <select name="screenId" class="form-control" required>
                {% for screen in screens %}
                    <option value="{{ screen.name }}">{{ screen.title }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label class="pb-1"> Save to Screen </label>
            <select name="screen" class="form-control" required>
                {% for screen in screens %}
                    <option value="{{ screen.order }}">{{ screen.title }}</option>
                {% endfor %}
            </select>
        </div>
        <button class="btn btn-danger" type="reset">Vazgeç</button>
        <button class="btn btn-primary" type="submit">Kaydet</button>
    </form>
    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <svg class="bd-placeholder-img rounded mr-2" width="20" height="20" xmlns="http://www.w3.org/2000/svg"
                 preserveAspectRatio="xMidYMid slice" focusable="false" role="img">
                <rect fill="#007aff" width="100%" height="100%"></rect>
            </svg>
            <strong class="mr-auto">Bildirim</strong>
            <small class="text-muted"></small>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body"></div>
    </div>
{% endblock %}
{% block Scripts %}
    <script type="text/javascript" src="{% static 'alertify/src/alertify.js' %}"></script>
    <script type="text/javascript">
        let globalData = null;
        const toast = $('.toast');

        $.get("/api/screen/", function (data, status) {
            globalData = data;
        });

        const viewer = pannellum.viewer('panorama', {
            "default": {
                "autoLoad": true,
                "showFullscreenCtrl": false,
                "showControls": false,
                "firstScene": "{{ screen.name }}",
                "sceneFadeDuration": 1000
            },
            "scenes": {
                {% for screen in screen.advert.screens.all %}
                    "{{ screen.name }}": {
                        "title": "{{ screen.title }}",
                        "hfov": {{ screen.hfov }},
                        "pitch": {{ screen.pitch }},
                        "yaw": {{ screen.yaw }},
                        "type": "equirectangular",
                        "panorama": "{{ screen.image.url }}",
                        "hotSpots": [
                            {% for hotspot in screen.hotspots.all %}
                                {
                                    "pitch": {{ hotspot.pitch }},
                                    "yaw": {{ hotspot.yaw }},
                                    "type": "{{ hotspot.type }}",
                                    "text": "{{ hotspot.text }}",
                                    "sceneId": "{{ hotspot.screenId }}"
                                },
                            {% endfor %}
                        ]
                    },
                {% endfor %}
            }
        });

        const holdTrigger = $('.pnlm-dragfix');
        let timeOutId = 0;

        function mouseupListener(event) {
            const posPitch = viewer.mouseEventToCoords(event)[0];
            const posYaw = viewer.mouseEventToCoords(event)[1];
            const hotSpotForm = $('#hotSpot-add');
            hotSpotForm.show();
            $('input[name="pitch"]').val(posPitch);
            $('input[name="yaw"]').val(posYaw);
            hotSpotForm.on('submit', function (e) {
                e.preventDefault();
                $.ajax({
                    url: '/api/hotspot/',
                    method: 'post',
                    data: $(this).serializeArray(),
                    success: function (res) {
                        console.log(res);
                        hotSpotForm[0].reset();
                        hotSpotForm.hide();
                        addHotSpot(res.pitch, res.yaw, res.type, res.text, res.sceneId, res.name);
                        toast.addClass('fade show');
                        $('.toast-body').text('Ekranlara gitmek için sayfayı yenilemeniz gerekmektedir.');
                    }, error: function (err) {
                        console.log(err);
                    }
                })
            });

            hotSpotForm.on('reset', function () {
                $(this).hide();
            });
        }

        function simulateMouseClick(targetNode) {
            function triggerMouseEvent(targetNode, eventType) {
                const clickEvent = document.createEvent('MouseEvents');
                clickEvent.initEvent(eventType, true, true);
                targetNode.dispatchEvent(clickEvent);
            }

            ["mouseover", "mousedown", "mouseup", "click"].forEach(function (eventType) {
                triggerMouseEvent(targetNode, eventType);
            });
        }

        simulateMouseClick(document.querySelector('*'));

        holdTrigger.on('mousedown', function (e) {
            timeOutId = setTimeout(() => mouseupListener(e), 1000);
        }).bind('mouseup mouseleave', () => {
            clearTimeout(timeOutId);
        });

        function addHotSpot(pitch, yaw, type, text, sceneId, screenName) {
            viewer.addHotSpot({
                "pitch": pitch,
                "yaw": yaw,
                "type": type,
                "text": text,
                "sceneId": sceneId
            }, screenName)
        }

        toast.toast();
        $('[data-dismiss="toast"]').on('click', function () {
            toast.removeClass('fade hide show');
        });
    </script>
{% endblock %}